include ../flowbite/_navbar
include ../flowbite/_footer

    - const nav_links = [{'url':'https://t.me/+URA3cZoIm603MjUy','text':'Telegram'}];
    - const nav_pages = [{'url':'/contacts','text':'Контакты'}];

        +_navbar(nav_links, nav_pages)
        main
            block body
        +_footer(nav_links, nav_pages)
        //- JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js')

        link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/styles/default.min.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/styles/atom-one-dark.min.css")
        script(src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/highlight.min.js")
        script hljs.highlightAll();
