---
import BaseHead from '../components/BaseHead.astro';
import Footer   from '../components/Footer.astro';
import Header   from '../components/Header.astro';

import { TELEGRAM_CHANNEL } from '../consts';

const title = 'Контакты';
const description = 'Наши контактные данные';

const json_ld = [{
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
        { "@type": "ListItem", "position": 1, "name": "Home", "item": Astro.site },
        { "@type": "ListItem", "position": 2, "name": title }
    ]
}];
---

<!doctype html>
<html lang="ru">
	<head>
		<BaseHead title={title} description={description} />
        <script type="application/ld+json" set:html={JSON.stringify(json_ld)} />
        <meta property="og:image" content="/thumb2.webp" />
    </head>
	<body class="bg-gray-800 text-gray-100">
		<Header />
        <main>
            <div class='mx-auto max-w-3xl bg-gray-300'>
                <!-- contacts -->
                <div class='p-5'>
                    <img class='mx-auto rounded-full' src='/logo.webp' alt='logo' />
                </div>
                <div class='p-5 prose max-w-none text-center'>
                    <h1>Контакты</h1>
                    <p>Для вопросов и предложений:</p>
                    <div class='bg-gray-200 p-1'>
                        <a href='mailto:vlad1kudelko@gmail.com'>Email</a>
                    </div>
                    <p>Не забывайте подписаться на нас в других социальных сетях:</p>
                    <div class='bg-gray-200 p-1'> <a href='https://www.youtube.com/@crafthomelab'> YouTube  </a> </div>
                    <div class='bg-gray-200 p-1'> <a href={TELEGRAM_CHANNEL}>                      Telegram </a> </div>
                    <div class='bg-gray-200 p-1'> <a href='https://dzen.ru/crafthomelab'>          Dzen     </a> </div>
                    <div class='bg-gray-200 p-1'> <a href='https://rutube.ru/channel/68763186/'>   RuTube   </a> </div>
                </div>
                <!-- contacts -->
            </div>
        </main>
		<Footer />
	</body>
</html>
