---
import BaseHead  from '../components/BaseHead.astro';

import Search from "astro-pagefind/components/Search";

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="ru">
	<head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

        <meta name="robots" content="noindex"/>
        <meta name="robots" content="nofollow"/>
	</head>
	<body>
        <main class="p-5 mx-auto container">
            <Search id="search" className="pagefind-ui" uiOptions={{
                pageSize: 10,
                showImages: true,
            }} />
        </main>
	</body>
</html>
