include _metrika
include ../flowbite/_navbar
include ../flowbite/_footer

doctype html
html(lang=current.lang)
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='robots' content='noarchive')
        link(rel='icon' href='/res/favicon.svg' type='image/svg+xml')
        title= current.title
        meta(name='description' content=current.description)
        link(href='/styles.css' rel='stylesheet')

        //- BEGIN - стили внутрестатейных картинок
        style.
            .prose img {
                max-height: 300px;
                width: 600px;
                object-fit: cover;
                margin-left: auto;
                margin-right: auto;
            }
            .prose table th {
                text-align: center;
            }
            .prose table td + td, .prose table th + th {
                border-left: 1px solid white;
            }
        //- END - стили внутрестатейных картинок

        meta(name="yandex-verification" content="afed2e8191b49d83")
        meta(name="google-site-verification" content="0ucXNR_uuGU7CMGE94--pwGePrFybbteXJfA9Esji-Q")

    - const nav_links = [{'url':'https://github.com/vlad1kudelko/','text':'Github'}];
    - const nav_pages = [{'url':'/contacts.html','text':'Контакты'}];
    body(class='bg-gray-800')
        +_navbar(nav_links, nav_pages)
        main
            block body
        +_footer(nav_links, nav_pages)
        //- JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js')

        link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/styles/default.min.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/styles/atom-one-dark.min.css")
        script(src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/highlight.min.js")
        script hljs.highlightAll();
        
        +_metrika()
