---
import { TELEGRAM_CHANNEL } from '../consts';
---

<a class="block p-4 text-center text-lg bg-blue-500 text-gray-900 font-bold" href={TELEGRAM_CHANNEL}>
    Трендовые github проекты в нашем телеграм канале. <span class="text-gray-100">Подпишись 👉</span>
</a>
