---
import { TELEGRAM_CHANNEL } from '../consts';
---

<a class="block px-5 py-4 text-center text-base bg-brand-accent text-white font-bold hover:opacity-90 transition-opacity" href={TELEGRAM_CHANNEL}>
    Трендовые github проекты в нашем телеграм канале. <span class="opacity-90">Подпишись →</span>
</a>
