---
import { SITE_NAME, LINK_CONTACTS, TELEGRAM_CHANNEL } from '../consts';

import Metrika from './Metrika.astro';

const today = new Date();
---

<div class="bg-gray-900" style="font-weight:800;">
    <footer class="max-w-screen-xl mx-auto p-10 flex gap-4 lg:gap-0 items-center flex-col lg:flex-row justify-between text-center">
        <a class="hover:text-gray-300" href="/">{SITE_NAME}</a>
        <div class="flex gap-8 items-center text-sm">
            <a class="hover:text-gray-300" href={LINK_CONTACTS}>Контакты</a>
            <a class="hover:text-gray-300" href={TELEGRAM_CHANNEL}>Telegram</a>
        </div>
    </footer>
</div>

<Metrika />
