---
import { SITE_NAME, LINK_DOCS, LINK_CONTACTS, TELEGRAM_CHANNEL } from '../consts';
---

<div class="bg-gray-900" style="font-weight:800;">
    <header class="max-w-screen-xl mx-auto px-10 py-5 flex gap-4 lg:gap-0 items-center flex-col lg:flex-row justify-between text-center">
        <a class="flex items-center gap-4 hover:text-gray-300 text-2xl" href="/">
            <img class="h-10" src='/res/all/logo.webp' alt='Logo' />
            <span>{SITE_NAME}</span>
        </a>
        <span class="flex gap-8 items-center uppercase text-sm">
            <a class="hover:text-gray-300" href={LINK_DOCS}>Docs</a>
            <a class="hover:text-gray-300" href={LINK_CONTACTS}>Контакты</a>
            <a class="hover:text-blue-500 text-blue-400" href={TELEGRAM_CHANNEL}>Telegram</a>
        </span>
    </header>
</div>
