---
import { SITE_NAME, LINK_DOCS, LINK_CONTACTS, TELEGRAM_CHANNEL } from '../consts';
---

<div class="bg-brand-surface">
    <header class="max-w-screen-xl mx-auto px-10 flex flex-col items-center lg:flex-row lg:items-stretch justify-between text-center">
        <a class="py-5 flex items-center gap-4 text-2xl font-extrabold hover:opacity-75 transition-opacity duration-150" href="/">
            <img class="h-10" src='/res/all/logo.webp' alt='Logo' />
            <span>{SITE_NAME}</span>
        </a>
        <span class="pb-5 lg:pb-0 flex gap-6 lg:gap-0 items-center lg:items-stretch uppercase text-sm font-bold tracking-wide">
            <a class="flex items-center px-4 hover:bg-white/10 transition-colors duration-150" href={LINK_DOCS}>Docs</a>
            <a class="flex items-center px-4 hover:bg-white/10 transition-colors duration-150" href={LINK_CONTACTS}>Контакты</a>
            <a class="flex items-center px-4 text-brand-accent hover:bg-white/10 transition-colors duration-150" href={TELEGRAM_CHANNEL}>Telegram</a>
        </span>
    </header>
</div>
