mixin _navbar(inp_urls, inp_pages)
    nav(class='border-gray-200 bg-gray-900')
      .max-w-screen-xl.flex.flex-wrap.items-center.justify-between.mx-auto.p-4
        a.flex.items-center.space-x-3(class='rtl:space-x-reverse' href='/')
          img.h-10(src='/imgs/logo.webp' alt='Logo')
          span(class='self-center text-2xl font-semibold whitespace-nowrap text-white') Craft Homelab
        button(data-collapse-toggle='navbar-default' type='button' class='inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg focus:outline-none focus:ring-2 text-gray-400 hover:bg-gray-700 focus:ring-gray-600 md:hidden' aria-controls='navbar-default' aria-expanded='false')
          span.sr-only Open main menu
          svg.w-5.h-5(aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 17 14')
            path(stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M1 1h15M1 7h15M1 13h15')
        #navbar-default.hidden.w-full(class='md:block md:w-auto')
          ul(class='font-medium flex flex-col p-4 mt-4 border border-gray-100 rounded-lg space-y-2 rtl:space-x-reverse bg-gray-800 border-gray-700 md:p-0 md:flex-row md:space-x-8 md:space-y-0 md:mt-0 md:border-0 md:bg-gray-900')
            each val in inp_urls
              li
                a(class='block py-2 px-3 bg-blue-700 rounded md:bg-transparent md:p-0 text-white md:text-blue-400 hover:text-blue-300' aria-current='page' href=val.url)= val.text
            each val in inp_pages
              li
                a(class='block py-2 px-3 rounded md:border-0 md:p-0 text-white hover:text-blue-300 hover:bg-gray-700 md:hover:bg-transparent' href=val.url)= val.text
